#highlight-btn {
    position: absolute;
    z-index: 9999;
}

#text-popup {
    position: absolute;
    z-index: 9999;
}

#button-highlight {
    padding: 8;
    font-size: 18;
    width: 30px;
    height: 30px;
    background-color: #194f4f;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    border: none;
    z-index: 9999;
}

#popup {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    width: 200px;
    padding: 20px;
    overflow-wrap: break-word;
    overflow: scroll;
    background-color: white;
    border: none;
    color: black;
    border-radius: 12px;
    box-shadow: 0 18px 47px 0 rgb(47, 50, 125, 0.5);
}

#popup::-webkit-scrollbar {
    display: none;
}

#popup p {
    margin: 0;
}
